body {
    background: rgba(226, 152, 245, 0.63);
}
h2 {
    margin-top: 0;
}
.blogs {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 10%;
    padding-right: 10%;
}
.blogs .post {
    /* width: 400px; */
    margin: 10px;
    background: #fff;
}
.post1 {
    display: flex;
    flex-grow: 20;
}
img {
    width: 100%;
    height: auto;
}
.content {
    padding: 18px;
    padding-bottom: 50px;
}
.post1 .image {
    display: flex;
}
.post {
    flex-basis: 25%;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
}
.post .comments {
    position: absolute;
    right: 25px;
    bottom: 15px;
}
.post .author {
    position: absolute;
    left: 25px;
    bottom: 15px;
}








@media (max-width: 600px) {
    .post1 {
      flex-direction: column;
    }
    .blogs {
        padding-left: 5px;
        padding-right: 5px;
    }
  }