body {
    background: rgba(226, 152, 245, 0.63);
}
h2 {
    margin-top: 0;
}
img {
    width: 100%;
    height: auto;
}
.blogs {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    /* padding-left: 10%;
    padding-right: 10%; */
}
.content {
    padding: 18px;
    padding-bottom: 50px;
}

.post {
    /* min-width: 300px; */
    flex-basis: 25%;
    flex-grow: 1;
    position: relative;
    margin: 10px;
    background: #fff;
    /* width: 100%; */
}

.post .comments {
    position: absolute;
    right: 25px;
    bottom: 15px;
}
.post .author {
    position: absolute;
    left: 25px;
    bottom: 15px;
}
.main .post1 {
    display: flex;
    height: 300px;
}
.post1 .image {
    width: 100%;
    background: url(https://i.pinimg.com/originals/f8/06/fb/f806fb7fb4c8d4bfa13a547f6565319c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.post1 .comments {
    position: absolute;
    right: 510px;
    bottom: 15px;
}

.main {
    display: inline-block;
    width: 60%;
    }
.rightcolumn {
    display: inline-block;
    width: 10%;
    min-width: 300px;
}
.blogs {
    width: 100%;
}

.rightmain {

}
.blogsright {
    display: flex;
    flex-direction: column;

    
}
.container {
    display: flex;
    justify-content: center;
}







@media (max-width: 800px) {
    .blogs {
        flex-direction: column;
    }
    .main .post1 .comments {
        right: 120px;
  }
  
@media (max-width: 600px) {
    .container {
        display: block;
    }
    .main {
        width: 100%;
    }
    .rightcolumn {
        width: 100%
    }
    .main .post1 .comments {
        right: 175px;
    }
  }
